.container {
  width: 80vw;
  margin: auto;
  /* height: 98vh; */
}

.nav {
  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr auto; */
  /* width: 70vw; */
  /* height: fit-content; */
  /* align-items: center; */
  background-color: whitesmoke;
  box-shadow: 0px 1px 10px rgb(185, 185, 185);
}
.nav__logo {
  width: 16vh;
  height: 4vh;
  /* justify-content: space-around; */
  align-items: center;
  display: flex;
  gap: 0.7vw;
  margin-left: 0.7vw;
  padding: 0.4vw;
}

#fname {
  /* justify-content: space-around; */
padding: .3rem 0.6rem 0.3rem 0.6rem;
min-width: 300px;
  /* height: fit-content;

  padding-right: 7vw;
  padding-bottom: 0.6vh; */
  /* gap: 10vw; */
  /* margin-left: 2vh; */
  /* margin-top: 0.2em; */
  border-radius: 20em;
}

.body {
  height: 90vh;
  display: grid;
  grid-template-rows: 98vw;
  grid-template-columns: 1fr 6fr;
  margin-top: 0.4em;
}

.side {
  height: 90vh;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 1px 10px rgb(185, 185, 185);
}
.side h4 {
  padding-left: 1em;
  font-family: Arial, sans-serif;
  font-weight: 1004;
  color: #888;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 200px;
}

li {
  display: flex;
  /* flex-direction: row; */
  /* margin-right: 2vw; */
  /* width: 10; */
  /* justify-content: start; */
  /* align-items: center; */
}

li a {
  color: #000;
  padding: 8px 16px;
  border-radius: 5px;
}

.icon {
  margin-top: 1vh;
  margin-right: 0.7vh;
  height: 2vh;
  width: 1.1vw;
  gap: 2%;
}

li {
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #528dd0;
  color: white;
}

.main {
  height: 90vh;
  margin-left: 7vh;
  margin-right: 7vh;
  /* border: 1px solid black; */
}
.first {
  display: grid;
  grid-template-columns: 5fr auto;
  /* border: 1px solid black; */
}
.first button {
  margin-top: 3vh;
  background-color: #2f55bb;
  color: white;
  border-radius: 5px;
  height: 4vh;
}

.submain {
  height: 45vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1vw;
  /* border: 1px solid black; */
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  background: #333;
  color: white;
  padding: 3%;
  height: fit-content;
  display: inline-block;
  cursor: pointer;
}


.menu {
  display: none;
  /* background: lightgray; */
  padding: 10px;
}


@media (max-width: 768px) {
  .toggle-checkbox:checked ~ .menu {
      display: block;
  }
}


@media (min-width: 769px) {
  .toggle-button, 
  .toggle-checkbox { 
      display: none;
  }
  
 
  .menu {
      display: block;
  }
}

/* @media screen and (min-width: 768px) {
  .menu {
    display: none;
  } */

  @media screen and (max-width: 500px) {
    .container {
      margin: 1px;
      /* margin-right: 0; */
    }
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* display: fl  ex; */
      width: 100vw;
      /* width: 100%; */
      /* width: fit-content; */
      height: 5vh;
    }
    #fname {
      width: fit-content;
      /* padding-right: 13vw; */
    }

    .side {
      width: 40vw;
      /* height: 92vh ; */
    }

    .submain {
      height: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .nav {
      height: 8vh;
    }
    #fname {
      padding-right: 13vw;
    }

    .side {
      /* width: 40vw; */
      height: 92vh;
    }
    .first {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      #fname {
        padding-right: 13vw;
      }
    }

    .submain {
      display: flex;
      flex-direction: column;
      /* justify-content: start; */
      /* align-items: sta; */
      gap: 2vh;
      /* grid-template-columns: 1fr; */
      /* grid-template-rows: 1fr 1fr 1fr 1fr; */
      /* border: 1px solid black; */
    }
    .total {
      margin-right: 1em;
      /* margin-left:0 ; */
    }
    .all {
      margin-left: 0;
    }
  }

  .total {
    height: 10vh;
    margin-top: 2vh;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px rgb(185, 185, 185);
    grid-area: 1 / 1 / 2 /2;
    display: flex;
    border-radius: 6px;
    /* margin-right: 2vw; */
  }
  .img1 {
    margin: 3%;
    margin-top: 4vh;
    height: 3.5vh;
    width: 2vw;
  }

  .all {
    /* background-color: brown; */
    /* border: 1px solid black; */
    grid-area: 1 / 2 / 1 / 3;
    /* gap: 4vw; */
    /* z-index: 1; */

    /* margin-left: 2vw; */
    margin-top: 2vh;
    /* border: 1px solid black; */
    height: 10vh;
    box-shadow: 1px 1px 10px rgb(185, 185, 185);
    border-radius: 6px;
    display: flex;
  }

  .panding {
    /* background-color: blueviolet; */
    grid-area: 2 / 1 / 3 / 3;
    height: 12vh;
    box-shadow: 1px 1px 10px rgb(185, 185, 185);
    border-radius: 6px;
    display: flex;
  }

  .maintan {
    /* background-color: burlywood; */
    grid-area: 3 / 1 / 3 /3;
    height: 12vh;
    box-shadow: 1px 1px 10px rgb(185, 185, 185);
    border-radius: 6px;
    display: flex;
  }